body {
	color: rgb(255, 255, 255);
	background-color: black;


}

section {
	padding: 100px;

}

.headerFont {
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal;

}

.big {
	font-size: 389.85px;
    line-height: 390px;
}

.small {
	font-size: 120px;
}

.mono {

	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 48;
	font-size: 48px;
	font-style: normal;

}

.bodyText {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;

}

h1 {
	margin: 0px;
}

.twoColum {
	display: grid;
	column-count: 2;
	column-gap: 100px;

}

.authorName {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 100;
	font-size: 24px;
	font-style: bold;


}

.two {
	color: black;
	background-color: white;
}

.containerDiv {
	width: 100%;
	display: flex;
	gap: 30px;
}
.bigSubOne{
	background-color: #fff;
	flex: 1; 
	
}

.subOne {
	background-color: #fff;
	flex: 1; 
	
}
.subTwo{
	background-color: black;
	flex: 1;
}
.padding{
	padding-top: 20px;
	padding-bottom: 20px

}