body {
	color: rgb(255, 255, 255);
	background-color: black;


}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	
}

section {
	padding: 100px;
	/* display: grid;
	grid-template-columns: repeat(4, 1fr); */

}
.sectionDiv{

	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	
	padding-top: 0%;
	padding-bottom: 05;

}
.divOne{
	
}

.headerFont,
h2 {
	font-family: "Anton", sans-serif;
	font-weight: 300;
	font-style: normal;
	white-space: nowrap;
	/* overflow: hidden; */
	text-overflow: ellipsis;

}

.grid {
	grid-column-start: 1;
	grid-column-end: 5;
	
}



h2 {
	font-size: 300px;
}

.block {
	display: flex;
	background-color: aqua;
	width: 100%;
}

.big {
	font-size: 389.85px;
	line-height: 390px;
}

.small {
	font-size: 120px;
}

.mono {

	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 48;
	font-size: 48px;
	font-style: normal;

}

.bodyText {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;

}

h1 {
	margin: 0px;
}

.twoColum {
	display: grid;
	column-count: 2;
	column-gap: 100px;

}

.authorName {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 100;
	font-size: 24px;
	font-style: bold;


}

.two {
	color: black;
	background-color: white;
	display: flex;
	gap: 30px;
	flex-direction: column;


}

.containerDiv {
	width: 100%;
	display: flex;

	gap: 30px;
}

.bigSubOne {
	background-color: #fff;
	flex: 1;

}

.subOne {
	background-color: #fff;
	flex: 1;

}

.subTwo {
	background-color: black;
	flex: 1;
}

.padding {
	padding-top: 20px;
	padding-bottom: 20px
}